---
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Level11">
	<main class="space-y-16 sm:space-y-28 lg:space-y-32 pb-40 overflow-clip">
		<HeroSection/>
	</main>
</Layout>